{% extends 'HBBlogBundle::layout.html.twig' %}
    
{% block titre_content %} <i class="ion-ios-paper-outline"></i>&nbsp; {{ entity.title }} {% endblock %}
{% block content -%}
    <p class="text-muted">
            <i class="ion-ios-calendar-outline"></i>&nbsp;Publié le {{ entity.publishDate|date('d/m/Y') }} 
            {% if entity.author.id is defined %}&nbsp;&nbsp;|&nbsp;&nbsp;  
                <a href="{{ path('user_show',{'id':entity.author.id})}}"><i class="fa fa-user" ></i>&nbsp;{{ entity.author.name }}</a>
            {% endif %}
        </p>
        <hr>
        
    <div class="col-lg-12">
        <div class="col-lg-3">
            {% if entity.banner.url is defined %}
            <img class="col-lg-12" src="{{asset(entity.banner.getWebPath)}}"/>
         {% else %}
            <img class="col-lg-12 fa fa-photo"/>
         {% endif %}
        </div>
        <div class="col-md-9 col-md-pull-0">
            <p>


                {{ entity.content }}
            </p>
            <p class="text-warning">Dernière modification le {{ entity.lastEditDate|date('d/m/Y') }}
            </p>
                <a  class="btn btn-group-lg btn-github"  href="{{ path('article') }}">
                    <i class="ion-backspace" ></i>&nbsp;Retour à la liste
                </a>
                <a class="btn btn-group-lg btn-dropbox" href="{{ path('article_edit', { 'id': entity.id }) }}">
                    <i class="ion-edit" ></i>&nbsp;Modifier
                </a>
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}


